<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>symbol</key>
	<dict>
		<key>.</key>
		<string>.-.-.-</string>
		<key>,</key>
		<string>--..--</string>
		<key>:</key>
		<string>---...</string>
		<key>;</key>
		<string>.....-</string>
		<key>?</key>
		<string>..--..</string>
		<key>&apos;</key>
		<string>.----.</string>
		<key>-</key>
		<string>-....-</string>
		<key>/</key>
		<string>-..-.</string>
		<key>(</key>
		<string>-.--.</string>
		<key>)</key>
		<string>-.--.-</string>
		<key>@</key>
		<string>.--.-.</string>
		<key>=</key>
		<string>-...-</string>
		<key>+</key>
		<string>.-.-.</string>
	</dict>
	<key>number</key>
	<dict>
		<key>1</key>
		<string>.____</string>
		<key>2</key>
		<string>..___</string>
		<key>3</key>
		<string>...__</string>
		<key>4</key>
		<string>...._</string>
		<key>5</key>
		<string>.....</string>
		<key>6</key>
		<string>_....</string>
		<key>7</key>
		<string>__...</string>
		<key>8</key>
		<string>___..</string>
		<key>9</key>
		<string>____.</string>
		<key>0</key>
		<string>_____</string>
	</dict>
	<key>alphabel</key>
	<dict>
		<key>A</key>
		<string>._</string>
		<key>B</key>
		<string>_...</string>
		<key>C</key>
		<string>_._.</string>
		<key>D</key>
		<string>_..</string>
		<key>E</key>
		<string>.</string>
		<key>F</key>
		<string>.._.</string>
		<key>G</key>
		<string>__.</string>
		<key>H</key>
		<string>....</string>
		<key>I</key>
		<string>..</string>
		<key>J</key>
		<string>.___</string>
		<key>K</key>
		<string>_.__</string>
		<key>L</key>
		<string>._..</string>
		<key>M</key>
		<string>__</string>
		<key>N</key>
		<string>._..</string>
		<key>O</key>
		<string>___</string>
		<key>P</key>
		<string>.__.</string>
		<key>Q</key>
		<string>__._</string>
		<key>R</key>
		<string>._.</string>
		<key>S</key>
		<string>...</string>
		<key>T</key>
		<string>_</string>
		<key>U</key>
		<string>.._</string>
		<key>V</key>
		<string>..._</string>
		<key>W</key>
		<string>.__</string>
		<key>X</key>
		<string>_.._</string>
		<key>Y</key>
		<string>_.__</string>
		<key>Z</key>
		<string>__..</string>
	</dict>
</dict>
</plist>
